
/* 
font-weight: 300; 
	this property needs support from font 

box-shadow: -55px 5px 40px 0 rgba(0, 0, 0, 0.09);   
	the shadow of product of S7 needs a shadow created by design.
*/

.body {
	position:absolute; top:0px; 
	// left:50%; margin-left:-720px; 
	width:1440px; margin-top:0px; 
	>* { float:left; }

	>.leftSide {
		width: 615px;
		height: 900px;
		background-image: radial-gradient(circle at 49% -6%, #474d73, #000000);
		.device {
			z-index:99;
			position:relative;
			width: 707px;
			height: 707px;
			margin:139.5px 0 0 11.5px; 
			// transform: rotate(13deg);
			background-image:url('../images/device.png');
			background-repeat:no-repeat;
			background-position-x:17px;
		}
		.productIntroduce {
			position:absolute;
			left:110px; top:140px;
			h3 {
				width: 96px;
				height: 14px;
				object-fit: contain;
				font-size: 12px;
				font-weight: bold;
				letter-spacing: 0.8px;
				text-align: left;
				color: #f4811f;
			}
			p {
				width: 199px;
				height: 225px;
				margin-top:14px; 
				object-fit: contain;
				font-size: 80px;
				font-weight: 300;
				line-height: 0.94;
				letter-spacing: normal;
				text-align: left;
				color: #ffffff;
			}

		}
		
	}
	>.bodyCenter {
		position:relative;
		width: 501px;
		height: 643px;
		background-image: url('../images/router.png');
		background-image: url('../images/router.png'), radial-gradient(circle at 52% 17%, rgba(254, 250, 225, 0.88), rgba(254, 251, 229, 0.75) 25%, rgba(255, 255, 255, 0));
		.productIntroduce {
			position:absolute;
			left:50px; top:99px;
			h3 {
				width: 80px;
				height: 14px;
				object-fit: contain;
				font-size: 12px;
				font-weight: bold;
				
				
				
				letter-spacing: 0.8px;
				text-align: left;
				color: #f4811f;
			}
			p {
				margin-top:10px;
				width: 161px;
				height: 135px;
				object-fit: contain;
				font-size: 40px;
				font-weight: 300;
				
				
				line-height: 1.13;
				letter-spacing: normal;
				text-align: left;
				color: #4a4a4a;
			}
		}
	}
	>.rightSide {
		position:relative;
		width: 324px;
		height: 643px;
		background-color: #7cdade;
		.smartWatch {
			margin-top:113.4px;
			width: 325px;
			height: 529.6px;
			// object-fit: contain;
			// transform: rotate(26deg);
			background-image:url('../images/smart_watch.png');
			background-repeat:no-repeat;
			background-position-x:right;
			background-position-y:bottom;
		}
		.productIntroduce {
			position:absolute;
			left:50px; top:120px;
			h3 {
				width: 96px;
				height: 14px;
				object-fit: contain;
				font-size: 12px;
				font-weight: bold;
				
				
				
				letter-spacing: 0.8px;
				text-align: left;
				color: #ffffff;
			}
			p {
				margin-top:10px;
				width: 240px;
				height: 90px;
				object-fit: contain;
				font-size: 40px;
				font-weight: 300;
				
				
				line-height: 1.13;
				letter-spacing: normal;
				text-align: left;
				color: #ffffff;
			}

		}
	}
	.linksContainer {
		width: 824px;
		height: 91px;
		background-color: #f9f9f9;
		.links {
			li {
				margin-top:34px; 
				
				// margin-right:20px; 
				float:left;
				height: 30px;
				font-size: 18px;
				font-weight: 300;
				
				
				line-height: 1.67;
				
				text-align: left;
				color: #f4811f;
				.iconArrowRight {
					margin-left:20px; 
					margin-right:164px; 
					display:inline-block; width:5px; height:10px; background-image:url('../images/orangeArrow.png');
				}
			}
			:first-child { margin-left:67px;  }
			:last-child .iconArrowRight { margin-right:0px;  }
		}
	}
}


