
body { padding:0px; margin:0px; background:#ccc; }
body, div, li, input, h3, p, * { font-family: 'Proxima Nova', Georgia, sans-serif; }
ul { list-style-type: none; padding: 0px; margin: 0px; }
h3, p { padding:0px; margin:0px; }

.header {
	position:absolute; top:0px; z-index:10;  
	// left:50%; margin-left:-720px; 
	width:1440px; height:28px; margin-top:30px; 
	>* { float:left; }
	.logo { 
		margin-left:30px; 
		img { width: 110px; height: 28px; }
	}
	.menu { 
		margin-left:30px;
		width: 400px;
		height: 16px;
		object-fit: contain;
		font-family: Proxima Nova;
		font-size: 13px;
		text-align: left;
		color: #ffffff;
		li { 
			float:left; margin-right:19px; 
		}
	}
	.searchBar {
		float:right;
		>* { float:left; }
		.text {
			width: 45px;
			height: 16px;
			object-fit: contain;
			font-size: 13px;
			text-align: left;
			color: #ffffff;
		}
		.support { margin-left:33px; }
		.iconSearch { margin-left:50px; }
		.flag { margin:0 27px 0 50px; }
	}
}
